.banner {
    width: 100%;
    padding-bottom: 10rem;

    &__title {
        margin: 3.125rem 0;
        font-size: 6rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
    }

    &__content {
        display: flex;
        justify-content: center;
        gap: 8.75rem;

        &-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                font-size: 4rem;
                width: 36.5rem;
                font-weight: lighter;
                text-align: left;

                span {
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            button {
                width: 13rem;
            }
        }

        img {
            width: 28.75rem;
        }
    }
}