@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@600&family=Montserrat:wght@200;300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

section {
  width: 100%;
}

.header {
  width: 100%;
  padding: 0.625rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}
.header__burger {
  display: none;
}
.header__right, .header__left {
  display: flex;
  align-items: center;
}
.header__left {
  font-size: 0.938rem;
  gap: 0.938rem;
}
.header__right {
  gap: 2.813rem;
}
.header__right nav p {
  font-size: 0.938rem;
  text-transform: uppercase;
}

button {
  text-transform: uppercase;
  background: rgb(105, 105, 105);
  padding: 20px;
  border: none;
  color: #fff;
}

.banner {
  width: 100%;
  padding-bottom: 10rem;
}
.banner__title {
  margin: 3.125rem 0;
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.banner__content {
  display: flex;
  justify-content: center;
  gap: 8.75rem;
}
.banner__content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner__content-left h2 {
  font-size: 4rem;
  width: 36.5rem;
  font-weight: lighter;
  text-align: left;
}
.banner__content-left h2 span {
  text-transform: uppercase;
  font-weight: bold;
}
.banner__content-left button {
  width: 13rem;
}
.banner__content img {
  width: 28.75rem;
}

.info {
  background-color: #D9D9D9;
  padding: 5.125rem 0;
  text-align: center;
}
.info__blocks {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8.438rem;
  margin-bottom: 3.75rem;
}
.info__block {
  text-align: center;
  width: 17.375rem;
}
.info__block h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.info__block p {
  font-size: 0.938rem;
}
.info__block img, .info__block h2 {
  margin-bottom: 1.688rem;
}

.content {
  padding: 5.188rem 8.563rem;
  padding-bottom: 6.313rem;
}
.content__gallery {
  display: flex;
  justify-content: space-between;
}
.content__gallery-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content__gallery-left img {
  z-index: 1;
  width: 28.875rem;
  height: 28.063rem;
}
.content__gallery-item {
  text-align: left;
  position: relative;
  width: 34.25rem;
}
.content__gallery-item span {
  position: absolute;
  z-index: 2;
  color: #fff;
  bottom: 0.5rem;
  left: 5.625rem;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: lighter;
}
.content__gallery .a {
  left: 1rem;
}
.content__gallery img {
  z-index: 1;
}
.content__bottom {
  margin-top: 7.188rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__bottom-left h1 {
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0.375rem;
}
.content__bottom-left p {
  text-align: start;
  font-weight: Lighter;
  font-size: 1, 5rem;
  width: 13rem;
}
.content__bottom-left p span {
  text-transform: uppercase;
  font-weight: bold;
}
.content__bottom-right {
  display: flex;
  gap: 2.625rem;
}
.content__bottom-right li {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.5rem;
}
.content__bottom-right li h1 {
  font-size: 3rem;
  font-weight: Bold;
  font-size: 3rem;
  font-style: italic;
}
.content__bottom-right li a {
  color: #000;
  font-style: italic;
  font-weight: Bold;
}

.feedback {
  background-color: #D9D9D9;
  padding: 2.188rem 8.563rem;
  padding-bottom: 7.125rem;
}
.feedback h1 {
  margin-bottom: 2.875rem;
  font-size: 4rem;
  font-weight: lighter;
}
.feedback__items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 3.875rem;
}
.feedback__item span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.438rem;
}
.feedback__item-stars {
  display: flex;
  gap: 0.438rem;
  margin-bottom: 1.5rem;
}
.feedback__item-content {
  width: 21.5rem;
  font-size: 1rem;
}

.footer {
  background: #000;
  color: #fff;
  padding: 3.25rem 3.625rem;
}
.footer__top {
  display: flex;
  gap: 7.5rem;
  align-items: flex-start;
}
.footer__top-block h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.footer__top-block h2 {
  font-size: 1rem;
}
.footer__top-block-navs {
  display: flex;
  font-size: 0.75rem;
  gap: 1.563rem;
  margin-top: 1.75rem;
}
.footer__top-block-navs a {
  color: #fff;
}
.footer__top-block-navs img {
  width: 1.313rem;
}
.footer p {
  margin-top: 6.375rem;
  font-size: 0.625rem;
}

@media (max-width: 1240px) {
  .banner {
    padding-bottom: 7.5rem;
  }
  .banner__title {
    font-size: 5rem;
    margin: 2.5rem 0;
  }
  .banner__content-left h2 {
    font-size: 3rem;
    width: 30rem;
  }
  .banner__content img {
    width: 17.75rem;
  }
  .info {
    padding: 3rem 0;
  }
  .info__blocks {
    gap: 5rem;
  }
  .info__block {
    width: 15rem;
  }
  .info__block h2 {
    font-size: 1rem;
  }
  .info__block p {
    font-size: 0.75rem;
  }
  .content {
    padding: 4.5rem 6.563rem;
    padding-bottom: 5.313rem;
  }
  .content__gallery-item {
    width: 30rem;
  }
  .content__gallery-item img {
    width: 80%;
  }
  .content__gallery-item span {
    bottom: 3rem;
    font-size: 3rem;
  }
  .content__bottom {
    margin-top: 5rem;
  }
  .content__bottom-left h1 {
    font-size: 4rem;
  }
  .content__bottom-left p {
    font-size: 1rem;
  }
  .content__bottom-right li {
    font-size: 1rem;
  }
  .content__bottom-right li h1 {
    font-size: 2rem;
  }
  .feedback {
    width: 100%;
  }
  .feedback h1 {
    font-size: 2.5rem;
  }
  .feedback__items {
    gap: 2.5rem;
  }
  .feedback__item-content {
    width: 15.5rem;
  }
  .feedback__item-stars {
    gap: 0.2rem;
  }
}
@media (max-width: 950px) {
  button {
    width: 10rem;
  }
  .banner {
    padding-bottom: 5rem;
  }
  .banner__title {
    font-size: 3.5rem;
    margin: 2rem 0;
  }
  .banner__content-left h2 {
    font-size: 2rem;
    width: 25rem;
  }
  .banner__content img {
    width: 15rem;
  }
  .info {
    padding: 2.5rem 0;
  }
  .info__blocks {
    gap: 2.25rem;
  }
  .info__block {
    width: 13rem;
  }
  .info__block h2 {
    font-size: 1rem;
  }
  .info__block p {
    font-size: 0.75rem;
  }
  .content {
    padding: 4.5rem 6.563rem;
    padding-bottom: 5.313rem;
  }
  .content__gallery-item {
    width: 30rem;
  }
  .content__gallery-item img {
    width: 80%;
  }
  .content__gallery-item span {
    bottom: 3rem;
    font-size: 3rem;
  }
  .content__bottom {
    margin-top: 3.5rem;
  }
  .content__bottom-left h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .content__bottom-left p {
    font-size: 1rem;
  }
  .content__bottom-right li {
    font-size: 1rem;
  }
  .content__bottom-right li h1 {
    font-size: 2rem;
  }
  .feedback {
    width: 100%;
    padding: 2rem 3rem;
  }
  .feedback h1 {
    font-size: 2rem;
  }
  .feedback__items {
    gap: 2rem;
  }
  .feedback__item-content {
    width: 10rem;
    font-size: 0.75rem;
  }
  .feedback__item span p {
    font-size: 0.75rem;
  }
  .feedback__item-stars {
    gap: 0.2rem;
  }
}
@media (max-width: 800px) {
  .banner__title {
    font-size: 3rem;
    margin: 2rem 0;
  }
  .banner__content-left h2 {
    font-size: 1.5rem;
    width: 20rem;
  }
  .banner__content img {
    width: 12.5rem;
  }
  .info {
    padding: 2rem 0;
  }
  .info__blocks {
    gap: 2rem;
  }
  .info__block {
    width: 12rem;
  }
  .info__block h2 {
    font-size: 1rem;
  }
  .info__block p {
    font-size: 0.75rem;
  }
  .content {
    padding: 4.5rem 6.563rem;
    padding-bottom: 5.313rem;
  }
  .content__gallery-item {
    width: 20rem;
  }
  .content__gallery-item img {
    width: 80%;
  }
  .content__gallery-item span {
    bottom: 3rem;
    font-size: 3rem;
  }
  .content__bottom {
    margin-top: 3.5rem;
  }
  .content__bottom-left h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .content__bottom-left p {
    font-size: 1rem;
  }
  .content__bottom-right {
    gap: 1rem;
  }
  .content__bottom-right li {
    font-size: 0.75rem;
  }
  .content__bottom-right li h1 {
    font-size: 1.25rem;
  }
  .footer__top {
    gap: 2rem;
  }
  .footer__top-block h1 {
    font-size: 2rem;
  }
}
@media (max-width: 440px) {
  .header {
    position: relative;
  }
  .header__burger {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 2rem;
  }
  .header__burger-active {
    transform: rotate(90deg);
  }
  .header__right {
    padding: 1.75rem;
    padding-bottom: 0;
    display: none;
  }
  .header__right nav {
    margin-bottom: 1rem;
  }
  .banner__title {
    font-size: 3rem;
    margin: 1.125rem 0;
  }
  .banner__content {
    gap: 10px;
  }
  .banner__content-left h2 {
    font-size: 1.75rem;
    width: 15.625rem;
  }
  .banner__content img {
    width: 10rem;
  }
  .banner button {
    font-size: 0.438rem;
    padding: 0.438rem;
    width: 6.438rem;
  }
  .info {
    padding: 2rem 0;
  }
  .info__blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .info__block {
    width: 12rem;
    padding: 2rem 0;
    border-bottom: 1px solid #000;
  }
  .info__block h2 {
    font-size: 0.688rem;
  }
  .info__block p {
    font-size: 0.688rem;
  }
  .info__block :last-child {
    border-bottom: none;
  }
  .info button {
    font-size: 0.438rem;
    padding: 0.438rem;
    width: 6.438rem;
  }
  .content {
    padding: 0;
  }
  .content__gallery {
    height: 23.438rem;
  }
  .content__gallery-item {
    position: relative;
    width: 13.438rem;
  }
  
  .content__gallery-item img {
    width: 13.438rem;
  }
  .content__gallery-item .aa {
    position: absolute;
    top: -7.5rem;
  }
  .content__gallery-item .a {
    font-size: 1.5rem;
  }
  .content__gallery-item .v {
    top: 5.5rem;
  }
  .content__gallery-item .bb {
    position: absolute;
    z-index: 1;
    top: -23.2rem !important;
  }
  .content__gallery-item span {
    bottom: 3rem;
    font-size: 3rem;
  }
  .content__bottom {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .content__bottom-left h1 {
    font-size: 3rem;
  }
  .content__bottom-left p {
    font-size: 1rem;
  }
  .content__bottom-right li {
    font-size: 0.6rem;
  }
  .content__bottom-right li h1 {
    font-size: 1.5rem;
  }
  .feedback {
    padding: 2rem;
  }
  .feedback h1 {
    font-size: 1rem;
  }
  .feedback__items {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .feedback__item-content {
    width: 15rem;
    font-size: 0.75rem;
  }
  .feedback__item span p {
    font-size: 0.75rem;
  }
  .feedback__item-stars {
    gap: 0.2rem;
  }
  .footer {
    padding: 1.125rem;
  }
  .footer__top {
    gap: 0.5rem;
    justify-content: space-between;
  }
  .footer__top-block h2 {
    font-size: 0.375rem;
  }
  .footer__top-block h1 {
    font-size: 1.125rem;
  }
  .footer__top-block-navs {
    font-size: 0.375rem;
    gap: 1rem;
  }
  .footer__top-block-navs img {
    width: 1rem;
  }
}